body {
    margin: 0;
    background-image: url('http://thepatternlibrary.com/img/u.png');
    background-color: #ffa661;
    font-family: 'Lato', sans-serif;
    color: #2F4F4F;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
}

main {
    background-color: white;
    background-color: rgba(255,255,255,.95);
    max-width: 70%;
    margin: 0 auto;
    padding: 1% 2% 85px;
}

main p {
    text-align: center;
    margin: 2%;
}

h1 {
    font-family: 'Adamina', serif;  
    text-align: center;
    font-size: 2.1em;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

aside p {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0;
    font-style: italic;
}

.question {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
}

.label {
    width: 30%;
    text-align: right;
    margin-right: 2%;
}

.field {
    width: 40%;
}

.check { 
    display: block;
}

li {
    list-style-type: none;
}

textarea {
    width: 80%;
}

footer {
    background-color: black;
    padding: 1.5em;
    text-align: center;
    color: white;
    overflow-y: hidden;
}