$primary: hsl(171, 100%, 41%);
$secondary: hsl(48, 100%, 55%);
$accent: hsl(348, 100%, 61%);
$transparent: rgba(255,255,255,.8);
$padding: 30px 0;
$paddingt: 30px 5%;

@mixin parallax {
  background-image: url("http://thepatternlibrary.com/img/s.png"); 
  background-attachment: fixed;
  background-repeat: repeat-y;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  font-family: 'Playfair Display', serif;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

#welcome-section {
  @include parallax;
  height: 100vh;
  h1 {
    margin-top: 20%;
  }
}

#projects {
  background-color: $primary;
  padding: $padding;
  h3 {
    color: white;
  }
}

.card {
  background-color: $transparent;
  border-radius: 5px;
  img {
    border-radius: 5px 5px 0 0;
  }
}

.project-tile p:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.project-tile:hover p:before {
    visibility: visible;
    background-color: $accent;
}

.project-tile:active p:before {
    visibility: visible;
    background-color: $secondary;
}

#about {
  @include parallax;
  background-position: 100%;
  padding: $padding;
  img {
    width: 200px; 
    height: 200px;
  }
  p {
    background-color: $transparent;
    }
}

#contact {
  background-color: $secondary;
  a {
    margin: 0 10px;
  }
  a:hover {
    color: $accent;
    transition: all 0.2s ease-in-out 0s;
  }
  a:focus, a:active {
    color: $primary;
  }
}



@media screen and (max-width: 1055px) {
  .size {
     flex-flow: column nowrap;
  }
  #about .is-6 {
    margin-left: 8.5%;
    min-width: 66.5%;
  }
} 



@media screen and (max-width: 768px) {
  #projects {
    padding: $paddingt;
    p {
      overflow-y: hidden;
   }
  }
  
  #about {
    padding: $paddingt;
  }
  
#about .is-6 {
    margin-left: auto;
    min-width: auto;
  }
  
  .order {
    flex-direction: column-reverse;
    display: flex;
  }
  
  .project-tile p:before {
    height: 10px;
  }
}



@media screen and (max-width: 480px) {
  #welcome-section .container {
    margin-top: 30%;
    background-color: $transparent;
  }
  
  .mobile {
    flex-direction: column-reverse;
    display: flex;
  }
  
  #contact a {
    flex-direction: column;
    display: flex;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .drop {
    order: 2;
  }
}